@CHARSET "UTF-8";

table.ratesTable {
	width: 270px;
	margin-bottom: 20px;
}

th.tick {
	font-weight: normal;
	width: 230px;
	text-align:left;
}

.ratesTable td, .ratesTable th {
	padding: 4px;
	font-size: .8em !important;
}